@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @apply 구문을 제거하고 표준 CSS로 변경하여 빌드 에러 원천 차단 */
body {
  background-color: #050505;
  color: #e5e7eb; /* text-gray-200의 HEX 값 */
  font-family: "Pretendard", sans-serif;
}
